PREFIX=.
AUTO_REACTION=off
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/ac3671f18ecfccf15d787.jpg
BOT_MODE=public
DATABASE_URL=postgresql://postgres:bKlIqoOUWFIHOAhKxRWQtGfKfhGKgmRX@viaduct.proxy.rlwy.net:47738/railway
OWNER_NAME=◥꧁ⓘⓣⓐⓒⓗⓘ ⓤⓒⓗⓘⓗⓐ◥꧁
OWNER_NUMBER=237698459117
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=
CHAT_BOT=off
SESSION_ID='' 
